<Configuration>
    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d %-5level [%logger] %msg%n%xThrowable" />
        </Console>
    </Appenders>
    <appender name="A1" class="org.apache.log4j.RollingFileAppender">
        <param name="Encoding" value="GB2312" />
        <param name="File" value="all.log" />

    </appender>
    <Loggers>
        <Logger name="org.apache.hc.client5.http" level="DEBUG">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.apache.hc.client5.http.wire" level="DEBUG">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
</Configuration>